* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:  #151515;
}

/*
font-family: 'Poppins', sans-serif;
font-family: 'Young Serif', serif;
*/

header {
    color: #ffffff;
    text-align: center;
    margin: 30px 0;
    font-family: 'Young Serif', serif;
   
}

nav i {
    color: #fcfcfc;
    margin: 30px 20px;
}

.section-about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 0;
    text-align: center;
    color: #fcfcfc;
    font-family: 'Poppins', sans-serif;
    padding: 0 20px;
}

.section-about h3{
    font-size: 28px;
}

.section-about h2{
    font-size: 28px;
    margin: 0 0 20px;
}

.section-about h2 span,
.cta-contact{
    border-bottom: 5px solid #5fdde5;
}

.section-about p{
    margin: 15px 0;
}

.cta-contact {
    color: #ffffff;
    font-weight: 600;
    text-decoration: none;
}
